# IntelliJ IDEA
.idea

# Visual Studio profiler
*.vs

# Terraform
**/.terraform/*
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.log
*.tfbackend

# tfsec
tfsec-junit.xml

# asdf
.tool-versions

# claude
.claude

# checkov
.external_modules/

# macOS
.DS_Store
